{% block content %}


    {% load mptt_tags %}
    {% for category, structure in category_tree|tree_info %}
        {% if structure.new_level %}<ul><li class="category">{% else %}</li><li class="category">{% endif %}
            {% with products=category.get_all_products %}
            <a href=http://{{ request.META.HTTP_HOST }}/{{ category.slug }} >{{ category.name }}</a> ({{ products|length }})
            {% endwith %}
        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
    {% endfor %}

    <style>
        .category {
            color: blue;
            font-weight: bold;
        }
        .product {
            color: green;
            font-weight: normal;
        }
    </style>

    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.name }} - ${{ obj.c }}<br />
    {% endfor %}
{% endblock %}
